{% extends 'Survey/base.html' %}

{% block content %}
{% load static %}


<form method="POST" action="">
          
            <section class="page-title bg-1">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="block text-center">
                      <span class="text-white">Witamy w aplikacji</span>
                      <h1 class="text-capitalize mb-4 text-lg">POZNAJ SWOJE RYZYKO</h1>
                      <ul class="list-inline">
                        <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                        <li class="list-inline-item"><span class="text-white">/</span></li>
                        <li class="list-inline-item"><a href="#" class="text-white-50">About Us</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>


            <section class="section about-2 position-relative">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="about-item pr-3 mb-5 mb-lg-0">
                      <span class="h6 text-color">Opis</span>
                      <h2 class="mt-3 mb-4 position-relative content-title">Aplikacja Poznaj Ryzyko</h2>
                      <p class="mb-5">Dokładny opis jakie zadanie ma spełniać aplikacja</p>
            
                      {% csrf_token %}
                      <button type="submit" class="btn btn-main btn-round-full">Zaczynajmy</button>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="about-item-img">
                      <img src="{% static 'Survey/images/about/home-7.jpg' %}" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="about-info section pt-0">
              <section class="section testimonial bg-gray">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-7 text-center">
                      <div class="section-title">
                        <span class="h6 text-color">Poziomy</span>
                        <h2 class="mt-3 content-title">Jakie mamy poziomy zabezpieczeń stosowanych w obiektach</h2>
                      </div>
                    </div>
                  </div>
                </div>
                </section>
              
</form>
{% endblock %}