{% extends 'Survey/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form method="POST" action="">
          
        <section class="section testimonial bg-gray">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-7 text-center">
                      <div class="section-title">
                        <br><h1 style="font-family: 'Times New Roman', Times, serif;">Prosimy o podanie wszystkich danych obiektu</h1>
                        <br>
                        {% csrf_token %}
                        {{form|crispy}}
                        <br><button type="submit" class="btn btn-dark btn-block">Wylicz stopień zabezpieczenia</button>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock %}